{% load static %}
    <div class="content" id="cartList">
    
			<div class="container">
				<div class="thickline"></div>
			</div>
		
    
    		<nav class="breadcrumb container">
		  
			</nav>

			<div class="container">
		
		
				<div class="row">
					<div class="col-12">

						<form action="" method="post" enctype="multipart/form-data">
							<div class="table-responsive">
								<table class="table table-bordered" data-cart>
									<thead>
										<tr>
										<td class="text-center">Image</td>
										<td class="text-left">Product Name</td>
										<td class="text-left">Marque</td>
										<td class="text-left">Quantity</td>
										<td class="text-right">Unit Price</td>
										<td class="text-right">Total</td>
										</tr>
									</thead>
									<tbody>
											{% for product_id,item in cart_data.items %}
										<tr>
											<td style="width:25%;" class="text-center" >
												<a href="https://demo.opencart.com/index.php?route=product/product&amp;product_id=40" data-url>
													<img style="width:50%;" src="{{item.image}}">
												</a>
											</td>
											<td class="text-left">
													
													<a href="https://demo.opencart.com/index.php?route=product/product&amp;product_id=40" data-name>{{item.title}}</a>
													<span class="text-danger">***</span>
											</td>
											<td class="text-left">{{item.Gamme}}</td>
											<td class="text-left">
												<div class="input-group btn-block" style="max-width: 200px;">
													<input type="number" class="col-8 form-control product-qty-{{product_id}}" name="quantity[YToxOntzOjEwOiJwcm9kdWN0X2lkIjtpOjQwO30=]" value="{{item.qty}}" size="1" class="form-control">
													<span class="input-group-btn">
													<button type="submit" data-toggle="tooltip" title="" data-item="{{product_id}}" class="btn btn-primary update-item" data-original-title="Update"><i class="la la-refresh"></i></button>
													<button type="button" data-toggle="tooltip" title="" data-item="{{product_id}}" class="btn btn-danger delete-item" data-original-title="Remove"><i class="la la-times-circle"></i></button></span>
												</div>
											</td>
											<td class="text-right">{{ item.price }}</td>
												<td class="text-right">{% widthratio item.price 1 item.qty %}</td>
										</tr>
								
								
										

										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="4"></td>
											<th>Total</th>
											<th>{{total_amt}}</th>
										</tr>
										{% if totalitems %}
											<tr>
												<td colspan="6" align="right">
													<a href="#" class="btn btn-dark btn-sm">Checkout <i class="fa fa-long-arrow-alt-right"></i></a>
												</td>
											</tr>
										{% endif %}
									</tfoot>
								</table>
							</div>
						</form>
					</div>
				</div>
    		</div>
    </div>
