{% load static %}
<style>

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 100px;
    max-width: 100px;
    
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6610f2;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #6950df;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6950df;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

</style>

<div class="content">
    
	
		<div class="container">
			<div class="thickline"></div>
		</div>
		<nav class="breadcrumb container">
		  
		</nav>

	<div class="container">

		<div class="row">
		
			<aside class="col-3">
			<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active">
				    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">les marques</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
					{% for G in Gammes %}
                        <li>
                            <a href="{% url 'Gamme' Gammes=G.Nom %}">{{ G.Nom}}</a>
                        </li>
                    {% endfor %}
					</ul>
                </li>
            </ul>
        </nav>
			</div>
			</aside>
			
			<section class="col-9 products" data-products="limit:4 page:0 id:1679,807,786,1597">
				<h2>{{ Gamme }}</h2>
				
				<div class="row">
				
				{% for p in products %}
				
				<div class="col-md-3" data-product>
					
					<article class="product">
					
						<a href="{% url 'products' produits=p.id %}" data-url>
							<img src="{{ p.image.url }}" class="img-fluid p-3" data-img>
						</a>
					
						<h3>
							<a href="{% url 'products' produits=p.id %}" data-product-url data-name data-url>{{ p.Nom }}</a>
						</h3>
						
						<div class="prce">
							<span class="currency" data-currency>DH</span> <span data-price>{{ p.prix }}</span>
						</div>
						
						
						<div class="btn-group">
						  <button type="button" class="btn btn-sm btn-secondary" title="Add to Cart">
							  <a style="color:White" href="{% url 'products' produits=p.id %}" />
							  <i class="la la-shopping-cart "></i>Details
							  </a>
						  </button>
						  
						  <button type="button" class="btn btn-sm  btn-link" title="Add to favorites" data-product-fav-url>
							  <i class="la la-heart"></i>
						  </button>
						</div>
						
						
					</article><!-- product -->
					
				</div> <!-- col-md -->

				{% endfor %}



				<ul class="pagination float-right mt-3">
					<li class="prev">
					  <a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true" class="la la-arrow-left"></span>
						<span class="sr-only">Previous</span>
					  </a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="next">
					  <a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true" class="la la-arrow-right"></span>
						<span class="sr-only">Next</span>
					  </a>
					</li>
				  </ul>
		
			</section> <!-- products -->
			
			
		
		</div>
    </div>
    
    </div>
    